.navbar-default {
	background-color: #3C3A3A;
	border-radius: 0%;
	border:none;
	margin-bottom: 0px;
    height: 80px;
    padding: 20px;
}

.list {
	color: white;
}

.banner {
	max-width: 100%;
	height: auto;
}

.pre {
	width: 100%;
	height: 760px;
	background-image: url(../img/desktop.jpg);
	background-size: 1300px 800px;
	background-repeat: no-repeat;
	margin-top: -20px;
}

.navbar-default .navbar-brand {
    color: white;

}
.navbar-brand {
	font-family: 'Cookie', cursive;
	font-size: 50px;
	font-style: white;
	width: 70px;
	
}
.sobremi {
	height: 500px;
	padding:3% 0 2%;
	background-color: #557F60;
}

.paula {
	width: 220px;
	height: 280px;
	padding: 2%;
	margin-left: 20%;
}

.datos {
	margin-top: 2%;
}
.habilidades {
	background-color: #ABFFC0;
	height: auto;
	padding: 2% 0 4%;
}

.proyectos {
	background-color: #2B4030;
	height: auto;
	padding: 3% 0 5%;
}
.imagenes {
	width: 23%;
	margin-top: 6%;
	height: 100px;
}

.trabajos {
	width: 300px;
	height: 200px;
	margin-top: 30px;
}

.contacto {
	background-color: #84CA6B;
	height: auto;
	padding-bottom: 4%;
}

.fa {
	border-radius: 100%;
	background-color: purple;
	width: 60px;
	height: 60px;
	padding:12%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
}

li {
    float: left;
}

li a {
   
    padding: 14px 16px;
    text-align: center;
    color: white;
}

.final {
	background-color: #4B4949;
	color: white;
	font-size: 12px;
	height: auto;
	padding: 2% 0 1%;
}

